@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.main{
    height: 100vh;
    width: 100%;
    background-color: rgb(247, 10, 89);
    display: flex;
    justify-content: center;
   align-items: center;
}
#box{
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    background-color: white;
    padding: 10px;
}
.row{
    padding: 16px;
}
.btn{
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    color: white;
    background-color: rgb(247, 10, 89);
    border-radius: 10px;
}